<div class="container text-center">
  <h1>My Book Clubs</h1>

  <%= link_to "Add New Book Club", new_book_club_path, class: "btn btn-primary mb-3" %>

  <p>Total Book Clubs: <%= @book_clubs.count %></p>

  <ul class="list-group">
    <% @book_clubs.each do |book_club| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to book_club.name, book_club_path(book_club), class: "text-decoration-none" %>
      </li>
    <% end %>
  </ul>
</div>
