<h1><%= @book_club.name %></h1>

<p><%= @book_club.description %></p>

<ul>
  <li><%= link_to "Edit", edit_book_club_path(@book_club) %></li>
  <li><%= link_to "Destroy", book_club_path(@book_club), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>