<h1>Search Our Book Library</h1>
<div class="search-container">
  <input type="text" id="bookSearch" placeholder="Enter a book or author">
  <button id="searchButton">Search</button>
</div>
<div id="results"></div>
